*{
  font-family: Roboto, sans-serif;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  display: inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}

.form-container {
  width: 60%;
  display: inline-block;
}
.form-container h3 {
  text-align: left;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  min-height: 100%;
  padding: 50px 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  width: 100%;
  max-width: 1000px;
  position: relative;
  padding: 0;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

.underlineHover{
  color: #8a99ad;
}

h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #24292e;
  border-bottom: 2px solid #24292e;
  padding-bottom: 5px;
}

input[type=button], input[type=submit], input[type=reset] {
  background: #004d40;
  border: none ;
  color: white ;
  padding: 15px 40px ;
  text-align: center ;
  text-decoration: none ;
  display: inline-block ;
  text-transform: uppercase ;
  font-size: 13px ;
  -webkit-border-radius: 5px 5px 5px 5px ;
  border-radius: 5px 5px 5px 5px ;
  margin: 40px 20px 40px 20px ;
  width: 60%
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover{
  background: #8a99ad;
  cursor: pointer;
}

.input-container{
  background-color: #f6f6f6;
  width: 100%;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0;
  padding: 20px 10px;
}

input[type=text], input[type=number], input[type=date], textarea, select{
  background-color: #f6f6f6;
  border: none;
  color: #004d40;
  text-align: left;
  text-decoration: none;
  font-size: 16px;
  width: 90%;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

textarea{
  resize: vertical;
  min-height: 100px;
}

* {
  box-sizing: border-box;
}

*:hover, *:focus{
  outline: none;
}

.radio-group {
  border: solid 3px #004d40;
  display: inline-block;
  border-radius: 4px;
  overflow: hidden;
  margin-top: 20px;

}

.radio-group.no-margin{
  margin-top: 0;
}


.radio-group input[type=radio], .radio-group input[type=checkbox] {
  position: absolute;
  visibility: hidden;
  display: none;
}

.radio-group label {
  color: #004d40;
  display: inline-block;
  cursor: pointer;
  font-weight: bold;
  padding: 5px 20px;
}

.radio-group input[type=radio]:checked + label,.radio-group input[type=checkbox]:checked + label{
  color: white;
  background: #004d40;
}

.radio-group label + input[type=radio] + label, .radio-group label + input[type=checkbox] + label {
  border-left: solid 3px #004d40;
}

.error-message {
  padding: 20px;
  background-color: #f44336;
  color: white;
  border-radius: 0 0 10px 10px;
}

.error-message.hidden {
  display: none;
}

.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

.closebtn:hover {
  color: black;
}

@media all and (max-width: 782px){
  .input-container{
    width: 100%;
  }
  input[type=button], input[type=submit], input[type=reset]{
    width: 80%;
  }
}


